<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.jukebox" >
    <uses-sdk android:minSdkVersion="11" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/jukebox_1072"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseSong"
            android:label="@string/choose_song" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/menu" >
        </activity>
        <activity
            android:name=".ChangeIP"
            android:label="@string/change_ip" >
        </activity>
        <activity
        android:name=".RecentSearches"
        android:label="@string/recent_searches" >
    </activity>
    </application>

</manifest>
